In [10]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

# Import our dataset
df = pd.read_csv('iris.csv', index_col=0)
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [11]:
# Replace all the values in the species colomns that are not Iris-setoa with 
# Not-Setosa
df.loc[df['Species'] != 'Iris-setosa', 'Species'] = 'Not-setosa'
df.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm     Species
Id
146            6.7           3.0            5.2           2.3  Not-setosa
147            6.3           2.5            5.0           1.9  Not-setosa
148            6.5           3.0            5.2           2.0  Not-setosa
149            6.2           3.4            5.4           2.3  Not-setosa
150            5.9           3.0            5.1           1.8  Not-setosa

In [15]:
# Label Encode our Species data
Label_encoder = LabelEncoder()
df['Species'] = Label_encoder.fit_transform(df['Species'])
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
1             5.1           3.5            1.4           0.2        0
2             4.9           3.0            1.4           0.2        0
3             4.7           3.2            1.3           0.2        0
4             4.6           3.1            1.5           0.2        0
5             5.0           3.6            1.4           0.2        0

In [16]:
# Identify our independant variable X.
X = df.iloc[:,[0,1,2,3]].values

In [17]:
# Encoding our y variable
y = df.iloc[:,4].values

In [18]:
# Train our data 
X = X.reshape(-1, 4)
X = preprocessing.scale(X) # scale the data so that it is easier to fit

X_train, X_test, y_train, y_test = train_test_split(X, 
                y, test_size=0.25, random_state=0)

In [19]:
# fit a model
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

# make predictions on test data
y_pred = log_reg.predict(X_test).reshape(-1,1)

In [20]:
# Create a confusion matrix
from sklearn.metrics import confusion_matrix

classes = ['Species_Iris-setosa', 'Not_Setosa']
conf_mat = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(conf_mat, columns=classes, index=classes)
cm_df

                     Species_Iris-setosa  Not_Setosa
Species_Iris-setosa                   13           0
Not_Setosa                             0          25

In [ ]:
# From the results of our confusion matrix we can clearly see that
# our model has successfully predicted every single one of our 
# test data samples correctly which indicates a high level of accuracy.
# From this infomation we can assume that our data would have both 
# higher precision and recall.

In [13]:
accuracy = (13+25)/(13+25)
print(f"the accuracy was {accuracy}.")
precision = (13)/(13)
print(f"the precision was {precision}.")
recall = (13)/(13)
print(f"the recall was {recall}.")

the accuracy was 1.0.
the precision was 1.0.
the recall was 1.0.